@import "../../../style/root";

.header-pc-container {
  background-color: $background-color-dark-secondary;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.header-pc-link {
  text-decoration: none;
  color: $font-color-blue;
}

.header-pc-link-selected {
  color: $font-color-light-primary;
}

.header-pc-icon {
  font-weight: bolder;
  font-size: 32px;
}

.header-pc-button-static {
  color: $font-color-blue;
}

// Selected link style

.header-pc-button-selected {
  color: $font-color-light-primary;
}

@media screen and (min-width: $min-width-laptop) {
  .header-mobile-container {
    display: none;
  }
}

@media screen and (max-width: $min-width-laptop) {
  .header-pc-container {
    display: none;
  }
}
