@import "../../../style/root";

.contact-card-container {
  @include page-layout-no-height;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 16px;
  box-sizing: border-box;
  border-bottom-right-radius: 16px;
  border: 1px solid $font-color-dark-secondary;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.contact-card-icon {
  color: $font-color-dark-primary;
  font-size: 45px;
}

.contact-card-body {
  padding-bottom: 10%;
}

.contact-card-header-content {
  color: $font-color-red;
  font-weight: bolder;
}

.contact-card-icon-true {
  color: $true;
}

.contact-card-icon-false {
  color: $false;
}

@media screen and (min-width: $min-width-tablet) {
  .contact-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5%;
    white-space: nowrap;
  }
}
