@import "../../../style/root";

.contact-container {
  @include page-layout-no-height;
}

@media screen and (min-width: $min-width-tablet) {
  .contact-container-child-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: $min-width-laptop) {
  .contact-container {
    display: grid;
    grid-template-areas:
      "heading"
      "card" "form";
    justify-content: stretch;
    align-items: center;
    height: 100vh;
    overflow: scroll;
    padding-top: 2%;
  }
  .contact-container-child-heading {
    grid-row: heading;
  }
  .contact-container-child-card {
    grid-row: card;
  }
  .contact-container-child-form {
    grid-row: form;
  }

  .contact-container-child-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }
}
