/*
This scss file contains variables for colors used throughout the components of this website,
For Example: background color, text color, component color
*/

//-----------BACKGROUND COLORS-----------------
$background-color-light-primary: #ffffff;
$background-color-light-secondary: #42c2ff;
$background-color-light-tertiary: #b8fff9;
$background-color-dark-primary: #212121;
$background-color-dark-secondary: #313552;
//-----------FONT COLORS-----------------
$font-color-light-primary: #ffffff;
$font-color-light-secondary: #42c2ff;
$font-color-dark-primary: #203239;
$font-color-dar-secondary: #374045;
$font-color-red: #b8405e;
//-----------BOOLEAN COLORS-----------------
$true: #77d970;
$false: #ff0075;
